@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.4;
  height: 100vh;
  overflow: hidden;
}
body::before {
  position: absolute;
  content: "";
  background: url("./images/bg-pattern-bottom.svg") no-repeat;
  transform: rotate(-30deg);
  width: 100%;
  height: 100%;
  top: 15rem;
  left: 40rem;
}

body::after {
  position: absolute;
  content: "";
  background: url("./images/bg-pattern-top.svg") no-repeat;
  transform: rotate(-200deg);
  width: 100%;
  height: 100%;
  top: 10;
  bottom: 0;
  right: 50rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  transform: translateY(-50%, 50%);
}

main {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  width: 450px;
  height: 450px;
  border-radius: 1rem;
  z-index: 1;
}

main::before {
  position: absolute;
  content: "";
  background: url("./images/bg-pattern-card.svg") no-repeat center center/cover;
  width: 100%;
  height: 35%;
  top: 0;
  left: 0;
  z-index: -1;
}

.author {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 1%;
}

main .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px #ffffff solid;
  margin-bottom: 2rem;
}

main img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name p {
  font-weight: 500;
  color: hsl(229, 23%, 23%);
}

.location p {
  font-weight: 500;
  color: hsl(229, 23%, 23%);
  margin-bottom: 5rem;
}

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 5rem;
  background-color: #cccccc;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

@media only screen and (max-width: 900px) {
  body {
  }

  body::before {
    background: none;
    left: 0;
  }
  body::after {
    background: none;
    right: 0;
  }
  .author img {
    width: 100%;
  }

  .name {
    text-align: center;
    margin-bottom: 1.8rem;
    /* margin-bottom: 2rem; */
  }
}
